@font-face {
    font-family: 'BebasNeue-Bold';
    src: url(../fonts/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'SF UI Regular';
    src: url(../fonts/sf-ui-text-regular.ttf);
}
