.day-project {
    padding: 100px 0 50px;
    background-color: rgba(196, 196, 196, 0.2);
}

.day-project-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.day-project-text h2 {
    font-size: 36px;
    line-height: 36px;
    color: #7FB154;
    font-family: 'BebasNeue-Regular';
    margin-bottom: 70px;
    position: relative;
    text-align: center;
    width: 100%;
}

.day-project-text h2::before {
    content: 'ПРОЕКТ ДНЯ';
    position: absolute;
    top: -110%;
    right: 15%;
    color: rgba(104, 104, 104, 0.1);
    font-size: 1.5em;
    width: 100%;
}

.day-project-text h3 {
    font-size: 25px;
    line-height: 50px;
    color: #6B6B6B;
    font-family: 'BebasNeue-Bold';
    margin-bottom: 30px;
}

.day-project-text ul li {
    font-size: 16px;
    line-height: 22px;
    color: rgba(107, 107, 107, 0.6);
    font-family: 'SF UI Regular';
    margin-bottom: 20px;
}

.day-project-text a {
    display: block;
    color: white;
    background-color: #7FB154;
    font-size: 16px;
    line-height: 19px;
    font-family: 'SF UI Regular';
    padding: 20px 50px;
    margin-top: 45px;
}

.day-project img {
    -webkit-box-shadow: 100px -50px rgba(127, 177, 84, 0.5);
    box-shadow: 100px -50px rgba(127, 177, 84, 0.5);
}