@import 'fonts.css';
@import 'navbar.css';
@import 'footer.css';


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p,
ol,
ul {
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

.overflow {
    overflow: hidden;
}

.products {
    padding: 50px 0 100px;
}

.product_by_category_box {
    background: #E3E3E3;
    padding: 0 0 40px 0;
    margin-bottom: 30px;
    position: relative;

}

.product_by_category_box h2 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 20px;
    font-family: 'BebasNeue-Bold';
    color: #6B6B6B;
}

.product_by_category_box a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.products .card {
    border: none;
    border-radius: 0;
}

.products .card-header {
    padding: 0;
    border: none;
    border-radius: 0;
}

.products .card-header button {
    background: #E3E3E3;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #7FB154;
    font-family: 'BebasNeue-Bold';
    width: 100%;
    border-radius: 0;
    text-align: left;
}

.products .card-header button:not(.collapsed) {
    background: #6B6B6B;
    background-image: url(../images/arrow-up.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

.products .card-body {
    padding: 0;
    border: none;
    border-radius: 0;
}

.list-group {
    border-radius: 0;
}

.list-group-item.active {
    background: #C4C4C4;
    color: #fff;
}

.list-group-item {
    background: #E3E3E3;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'BebasNeue-Bold';
    color: #6B6B6B;
    border: none;
}




/*!  media  */
@media (max-width: 1600px) {
    .nav-item {
        margin: 0 15px;
    }

    .nav-item-text {
        margin: 0 10px;
    }

    .nav-link {
        font-size: 18px;
    }

    header .form-control {
        padding: 12px;
    }

    header .form-control::-webkit-input-placeholder {
        font-size: 14px;
    }

    header .form-control::-moz-placeholder {
        font-size: 14px;
    }

    header .form-control:-ms-input-placeholder {
        font-size: 14px;
    }

    header .form-control::-ms-input-placeholder {
        font-size: 14px;
    }

    header .form-control::placeholder {
        font-size: 14px;
    }

    header .btn {
        font-size: 14px;
        padding: 7px 12px;
    }

    .navbar-text,
    .navbar-text a {
        font-size: 18px;
    }

    /* .about-us-shadows::after {
        bottom: -9%;
        right: -4%;
        height: 83%;
    } */

    .review-text {
        margin: 20px 0;
    }

    .review-job {
        margin-top: 10px;
    }

    .reviews-slider-buttons {
        width: 110px;
        height: 80px;
        bottom: -35px;
        left: -40px;
    }
}

@media (max-width: 1450px) {
    .nav-item {
        margin: 0 10px;
    }

    .nav-item-text {
        margin: 0 5px;
    }

    .nav-link {
        font-size: 16px;
    }

    header .form-control {
        padding: 8px;
    }

    header .form-control::-webkit-input-placeholder {
        font-size: 12px;
    }

    header .form-control::-moz-placeholder {
        font-size: 12px;
    }

    header .form-control:-ms-input-placeholder {
        font-size: 12px;
    }

    header .form-control::-ms-input-placeholder {
        font-size: 12px;
    }

    header .form-control::placeholder {
        font-size: 12px;
    }

    header .btn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-text,
    .navbar-text a {
        font-size: 16px;
    }

    .about-us-statistic {
        margin-top: 5 0px;
    }

    /* .about-us-shadows::after,
    .about-us-shadows::before {
        height: 80%;
    }

    .about-us-shadows::after {
        bottom: -5%;
    } */

    .about-us-statistic {
        margin-top: 40px;
    }

    .day-project img {
        -webkit-box-shadow: 60px -30px rgba(127, 177, 84, 0.5);
        box-shadow: 60px -30px rgba(127, 177, 84, 0.5);
    }

    .day-project-text h3 {
        margin-bottom: 12px;
    }

    .day-project-text ul li {
        margin-bottom: 15px;
    }

    .day-project-text a {
        margin-top: 10px;
    }

    .reviews-slider-buttons {
        width: 100px;
        height: 70px;
        bottom: -30px;
        left: -30px;
    }
}

@media (max-width: 1200px) {
    header .navbar {
        padding: 0;
    }

    header .navbar-brand {
        padding: 15px;
    }

    .navbar-toggler {
        position: relative;
        z-index: 33;
    }

    .burger-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 22;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        background-color: #7FB154;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 100px 0 50px;
    }

    .my-navbar {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60%;
    }

    .nav-item-text {
        display: none;
    }

    .nav-link {
        color: white;
        font-size: 20px;
    }

    .burger-menu button {
        background: #DBDBDB;
        color: #7FB154;
    }

    .carousel-caption {
        padding-left: 30px;
        top: 30%;
    }

    .carousel-caption h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .carousel-caption p {
        font-size: 14px;
        width: 400px;
        line-height: 30px;
        margin-bottom: 35px;
    }

    .carousel-caption a {
        font-size: 14px;
        font-family: 'SF UI Regular';
        padding: 15px;
    }

    /* .about-us-shadows::after,
    .about-us-shadows::before {
        height: 60%;
    }

    .about-us-shadows::after {
        bottom: 10%;
    } */

    .about-us-statistic {
        margin-top: 40px;
    }

    .statistic-number {
        font-size: 30px;
    }

    .statistic-text {
        font-size: 13px;
        line-height: 11px;
    }

    .multiple-items-controls-box {
        width: 120px;
        height: 60px;
    }

    .reviews-slider-buttons {
        display: none;
    }

    .burger-menu .form-inline input {
        background-color: #fff;
    }

    .burger-menu .form-inline button {
        background-color: #fff;
        padding: 9px 12px !important;
        line-height: 20px !important;
    }


    header .burger-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #7FB154;
        -webkit-transition: left 0.8s cubic-bezier(.98, .42, .18, .63);
        -o-transition: left 0.8s cubic-bezier(.98, .42, .18, .63);
        transition: left 0.8s cubic-bezier(.98, .42, .18, .63);
        z-index: 13;
    }

    #burger {
        opacity: 0;
        display: block;
    }

    .label {
        display: block;
        width: 33px;
        height: 25px;
        margin-right: 15px;
        margin-top: 15px;
        cursor: pointer;
        z-index: 14;
    }

    .label .span {
        display: block;
        position: absolute;
        background-image: url(../images/burger-green.png);
        background-repeat: no-repeat;
        width: 35px;
        height: 25px;
        -webkit-transition-duration: .1s;
        -o-transition-duration: .1s;
        transition-duration: .1s;
    }

    #burger:checked~.label>.span {
        background-image: url(../images/burger-white.png);
    }

    #burger:checked~.burger-menu {
        left: 0;
    }




}

@media(max-width:991px) {
    /* .about-us-shadows::after {
        bottom: 34%;
        right: -6%;
        width: 100%;
        height: 53%;
    }

    .about-us-shadows::before {
        display: none;
    } */

    .about-us h2 {
        text-align: center;
    }

    .about-us h2::before {
        right: 0;
    }

    .about-us-img {
        margin-bottom: 100px;
    }

    .statistic-number {
        font-size: 50px;
    }

    .statistic-text {
        font-size: 18px;
        line-height: 20px;
    }

    .day-project-text h2 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .advantages-box {
        margin-bottom: 40px;
    }
}

@media(max-width:916px) {
    .header-slider-buttons {
        height: 70px;
    }

    /* .about-us-shadows::after {
        bottom: 36%;
        height: 50%;
    } */
}

@media(max-width:881px) {

    /* .about-us-shadows::after {
        bottom: 39%;
        height: 48%;
    } */
}

@media(max-width:850px) {
    .catalog-box-text h3 {
        margin-bottom: 15px;
    }

    .catalog-box-text {
        padding: 20px 15px 30px 15px;
    }
}

@media(max-width:767px) {
    /* .about-us-shadows::after {
        bottom: 41%;
        height: 45%;
    } */

    .reviews-slider-img {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media(max-width:730px) {
    .carousel-caption {
        top: 20%;
    }

    .carousel-caption h2 {
        font-size: 25px;
        margin-bottom: 18px;
    }

    .carousel-caption p {
        font-size: 14px;
        width: 300px;
        line-height: 20px;
        margin-bottom: 25px;
    }

    .carousel-caption a {
        font-size: 14px;
        font-family: 'SF UI Regular';
        padding: 15px;
    }

    /* .about-us-shadows::after {
        bottom: 44%;
        height: 45%;
    } */
}

@media(max-width:700px) {
    /* .about-us-shadows::after {
        bottom: 47%;
        height: 40%;
        width: 95%;
    } */

    .burger-menu .form-inline {
        width: 90%;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        margin-top: 30px !important;
    }

    .burger-menu .form-inline input {
        width: 100%;
    }

    .burger-menu .form-inline button {
        margin-top: 10px !important;
    }

    .multiple-items {
        width: 100%;
    }

    .multiple-items-controls {
        width: 100%;
    }

    .day-project img {
        -webkit-box-shadow: 27px -35px rgba(127, 177, 84, 0.5);
        box-shadow: 27px -35px rgba(127, 177, 84, 0.5);
    }

    .day-project-text a {
        padding: 15px 37px;
    }

}

@media(max-width:600px) {
    .advantages h2 {
        font-size: 30px;
    }

    /* .about-us-shadows::after {
        bottom: 50%;
        height: 36%;
        width: 95%;
    } */
}

@media(max-width:560px) {
    /* .about-us-shadows::after {
        bottom: 53%;
        height: 33%;
        width: 95%;
    } */
}

@media(max-width:526px) {
    .carousel-caption {
        top: 20%;
        padding-left: 15px;
    }

    .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 20px;
    }

    .carousel-caption p {
        font-size: 12px;
        width: 200px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .carousel-caption a {
        font-size: 12px;
        line-height: 12px;
        font-family: 'SF UI Regular';
        padding: 8px 12px;
    }

    /* .about-us-shadows::after {
        bottom: 56%;
        height: 30%;
    } */

    .about-us-statistic {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .about-us-statistic-box {
        margin-top: 20px;
    }

    */ .about-us {
        padding-bottom: 50px;
    }

    .catalog h2 {
        font-size: 30px;
    }

    .day-project-text h2 {
        font-size: 30px;
    }

    .about-us h2 {
        font-size: 30px;
    }

    .reviews h2 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .reviews {
        padding: 50px 0;
    }

    .news h2 {
        font-size: 30px;
    }

    .contact h2 {
        font-size: 30px;
    }

    .review-text {
        font-size: 16px;
    }

    .advantages-box p {
        font-size: 16px;
    }

    .advantages-box h3 {
        font-size: 20px;
    }

    .day-project h3 {
        font-size: 20px;
    }

    .catalog-box-text p {
        font-size: 16px;
    }

    .news p {
        font-size: 16px;
    }

    .form-text {
        font-size: 20px;
    }
}

@media(max-width:515px) {
    .about-us-statistic {
        margin-top: 30px;
    }
}